<div class="row">
  <div class="col-md-7 leftHomeBlock">
    <section>
      <header>
        <app-header></app-header>
      </header>
      <main>
        <h2>Movie Marathon?</h2>
        <span>Order food from favourite restaurants near you.</span>
      </main>
      <div>
        <app-search></app-search>
      </div>
      <footer>
        <span class="f1">Popular cities in India</span>
        <span class="f2">
          Ahmedabad Bangalore Chennai Delhi Gurgaon Hyderabad Kolkata Mumbai
          Pune & more.
        </span>
      </footer>
    </section>
  </div>
  <div class="col-md-5 rightHomeBlock">
    <img src="../../assets/images/rightImage.jpg" alt="Home Image" />
  </div>
</div>
